<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @lookup.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lookup.name %>
</p>

<p>
  <strong>Date saved:</strong>
  <%= @lookup.date_saved %>
</p>

<p>
  <strong>User:</strong>
  <%= @lookup.user_id %>
</p>

<%= link_to 'Edit', edit_lookup_path(@lookup) %> |
<%= link_to 'Back', lookups_path %>
